@model Laptop_shop.ViewModels.Pages.UserEditViewModel;
@{
    Layout = "~/Views/Shared/_UserSide.cshtml";
}
<div class="card p-2">
    <h5 class="card-title text-center">ویرایش اطلاعات کاربری</h5>
    @{
        if(Model.Message != null)
        {
            <div class="alert alert-danger text-center" role="alert">
                @Model.Message
            </div>
        }
    }
    <form method="post">
        @Html.LabelFor(m=>m.Name , new {@class = "form-label"})
        @Html.TextBoxFor(m=>m.Name , new {@class = "form-control"})

        @Html.LabelFor(m=>m.Family , new {@class = "form-label"})
        @Html.TextBoxFor(m=>m.Family , new {@class = "form-control"})

        @Html.LabelFor(m=>m.Email , new {@class = "form-label"})
        @Html.TextBoxFor(m=>m.Email , new {@class = "form-control"})

        @Html.LabelFor(m=>m.Phone , new {@class = "form-label"})
        @Html.TextBoxFor(m=>m.Phone , new {@class = "form-control"})

        @Html.LabelFor(m=>m.Password , new {@class = "form-label"})
        @Html.PasswordFor(m=>m.Password , new {@class = "form-control"})

        @Html.LabelFor(m=>m.RepeatPassword , new {@class = "form-label"})
        @Html.PasswordFor(m=>m.RepeatPassword , new {@class = "form-control"})

        <button type="submit" class="btn btn-primary w-100">تایید و ارسال</button>
    </form>
</div>
